* {
    box-sizing: inherit;
}

html {
    /* Convert 10px -> 1 rem */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Quicksand', sans-serif, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

:root{
    --main-page-color: #518372;
}

