<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductController</servlet-name>
        <servlet-class>controller.ShowProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>controller.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controller.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerifyController</servlet-name>
        <servlet-class>controller.UserVerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeController</servlet-name>
        <servlet-class>controller.VerifyCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>controller.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtpController</servlet-name>
        <servlet-class>controller.ValidateOtpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPasswordController</servlet-name>
        <servlet-class>controller.NewPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailController</servlet-name>
        <servlet-class>controller.UserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserController</servlet-name>
        <servlet-class>controller.ShowUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>controller.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>controller.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductController</servlet-name>
        <servlet-class>controller.CreateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>controller.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterProductController</servlet-name>
        <servlet-class>controller.FilterProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductAdminController</servlet-name>
        <servlet-class>controller.ShowProductAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Cart.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>Cart.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>Cart.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>Cart.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProductController</servlet-name>
        <servlet-class>controller.DetailProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserByAdminController</servlet-name>
        <servlet-class>controller.CreateUserByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <servlet-class>paypal.AuthorizePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailController</servlet-name>
        <servlet-class>controller.CheckEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <servlet-class>paypal.ReviewPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemCartServlet</servlet-name>
        <servlet-class>Cart.UpdateItemCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <servlet-class>paypal.ExecutePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderCompleteController</servlet-name>
        <servlet-class>orderController.OrderCompleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>orderController.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListByUserIdController</servlet-name>
        <servlet-class>orderController.OrderListByUserIdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOrderController</servlet-name>
        <servlet-class>orderController.UpdateStatusOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderProcessingStaffController</servlet-name>
        <servlet-class>orderController.OrderProcessingStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllArrivalsProduct</servlet-name>
        <servlet-class>NewArrivals.ShowAllArrivalsProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductByBrand</servlet-name>
        <servlet-class>controller.ShowProductByBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductByBrandAndCategory</servlet-name>
        <servlet-class>controller.ShowProductByBrandAndCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductByCategory</servlet-name>
        <servlet-class>controller.ShowProductByCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionFeedBackController</servlet-name>
        <servlet-class>feedBack.ActionFeedBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOrderByUserController</servlet-name>
        <servlet-class>feedBack.CheckOrderByUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackController</servlet-name>
        <servlet-class>feedBack.FeedBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackStaffController</servlet-name>
        <servlet-class>feedBack.FeedBackStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>controller.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowLogController</servlet-name>
        <servlet-class>staffLogs.ShowLogController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductController</servlet-name>
        <url-pattern>/ShowProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerifyController</servlet-name>
        <url-pattern>/UserVerifyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeController</servlet-name>
        <url-pattern>/VerifyCodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/ForgetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtpController</servlet-name>
        <url-pattern>/ValidateOtpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPasswordController</servlet-name>
        <url-pattern>/NewPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/UserDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserController</servlet-name>
        <url-pattern>/ShowUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductController</servlet-name>
        <url-pattern>/CreateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/SearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterProductController</servlet-name>
        <url-pattern>/FilterProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductAdminController</servlet-name>
        <url-pattern>/ShowProductAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProductController</servlet-name>
        <url-pattern>/DetailProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/RemoveCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserByAdminController</servlet-name>
        <url-pattern>/CreateUserByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizePaymentServlet</servlet-name>
        <url-pattern>/AuthorizePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailController</servlet-name>
        <url-pattern>/CheckEmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <url-pattern>/review_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemCartServlet</servlet-name>
        <url-pattern>/UpdateItemCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <url-pattern>/ExecutePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderCompleteController</servlet-name>
        <url-pattern>/OrderCompleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/OrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListByUserIdController</servlet-name>
        <url-pattern>/OrderListByUserIdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOrderController</servlet-name>
        <url-pattern>/UpdateStatusOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderProcessingStaffController</servlet-name>
        <url-pattern>/OrderProcessingStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllArrivalsProduct</servlet-name>
        <url-pattern>/ShowAllArrivalsProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductByBrand</servlet-name>
        <url-pattern>/ShowProductByBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductByBrandAndCategory</servlet-name>
        <url-pattern>/ShowProductByBrandAndCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductByCategory</servlet-name>
        <url-pattern>/ShowProductByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionFeedBackController</servlet-name>
        <url-pattern>/ActionFeedBackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOrderByUserController</servlet-name>
        <url-pattern>/CheckOrderByUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackController</servlet-name>
        <url-pattern>/FeedBackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackStaffController</servlet-name>
        <url-pattern>/FeedBackStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/AdminDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowLogController</servlet-name>
        <url-pattern>/ShowLogController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ShowAllArrivalsProduct</welcome-file>
    </welcome-file-list>
</web-app>
